<style>
  
</style>

<main class="main">
  <h1>TdoTAdminPanel</h1>
  <div class="password-input">
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" (keydown.enter)="onSubmit()"/>
    <button (click)="onSubmit()">Anmelden</button>
  </div>
  @if (fileMetadataArray.length > 0) {
  <div class="content-container">
    <div class="file-list">
      @for (item of fileMetadataArray; track $index) {
      <div class="file-item">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <button (click)="downloadFile(item.getUrl, item.name)">Herunterladen</button>
        <button (click)="uploadFile(item.postUrl)">Hochladen</button>
        <hr />
      </div>
      }
    </div>
    <div class="placeholder-list">
      <div class="placeholder-actions">
        <h1>Platzhalter</h1>
        <button (click)="savePlaceholderChanges()">Speichern</button>
        <button (click)="discardPlaceholderChanges()">Zurücksetzen</button>
        <div class="info-icon-container">
          <div class="info-icon">i</div>
          <div class="info-tooltip">
            <p>Platzhalter ersetzen bestimmte passagen in den Dateien.</p>
            <p>Zum Beispiel, würde der Text "Anmeldungen für das Schuljahr %Schuljahr%" ersetzt werden durch "Anmeldungen für das Schuljahr 26/27" wenn solch ein Platzhalter existiert</p>
            <div class="unsaved-legend">
              <div class="color-box"></div>
              <span>= Nicht gespeichert</span>
            </div>
          </div>
        </div>
      </div>
      @for (item of placeholderArray; track $index) {
        <div class="placeholder-item" [class.unsaved]="!item.savedRemotely">
          <p>{{ item.key }}</p>
          <input type="text" [(ngModel)]="item.value" (change)="placeholderValueChanged($index)"/>
          <button (click)="removePlaceholder($index)">X</button>
        </div>
      }
      <div class="placeholder-add">
        <input type="text" [(ngModel)]="tempPlaceholderKey" placeholder="Key" />
        <input type="text" [(ngModel)]="tempPlaceholderValue" placeholder="Value" />
        <button (click)="addPlaceholder()">Hinzufügen</button>
      </div>
    </div>
    
  </div>
  <div class="activity-list">
    <div class="placeholder-actions">
      <h1>Präsentationen</h1>
      <button (click)="saveActivityChanges()">Speichern</button>
      <button (click)="discardActivityChanges()">Zurücksetzen</button>
      <button (click)="addActivity()">Hinzufügen</button>
      <div class="info-icon-container">
        <div class="info-icon">i</div>
        <div class="info-tooltip">
          <p>The präsentationen für den Tag der offenen Türen</p>
          <p>Der Raum wird hierbei für die Indoor-Navigation benutzt</p>
          <div class="unsaved-legend">
            <div class="color-box"></div>
            <span>= Nicht gespeichert</span>
          </div>
        </div>
      </div>
    </div>
    @for (activity of activityArray; track $index) {
      <div class="activity-item" [class.unsaved]="!activity.savedRemotely">
        <input type="text" [(ngModel)]="activity.name" (change)="activityValueChanged($index)"/>
        <input type="text" [(ngModel)]="activity.description" (change)="activityValueChanged($index)"/>
        <select [(ngModel)]="activity.room" (change)="activityValueChanged($index)">
          @for (room of roomArray; track $index) {
          <option [value]="room">{{ room }}</option>
          }
        </select>
        <button (click)="removeActivity($index)">X</button>
      </div>
    }
  </div>
  }
</main>

<router-outlet />
